@import url('./common.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');
@import url('izitoast/dist/css/iziToast.min.css');

.section-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-form {
  display: flex;
  flex-direction: row;
  row-gap: 8px;
  margin-bottom: 32px;
  margin-top: 36px;
}

.search-input {
  width: 272px;
  height: 40px;
  padding: 8px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-right: 8px;
  outline: none;
}

.search-input:hover {
  border: 1px solid #000;
}

.search-input:focus,
.search-input:active {
  border-color: #4e75ff;
}

.search-btn {
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.search-btn:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 24px;
  row-gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 36px;
}

.gallery li {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 360px;
  height: 248px;
  border: 1px solid #808080;
}

.gallery__image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.gallery__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  height: 46px;
  flex-shrink: 0;
  padding: 4px;
  padding-left: 20px;
  padding-right: 25px;
  color: #2e2f42;
  font-size: 12px;
}

.gallery__info__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 0px;
}

.gallery__info__item p {
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.48px;
  margin: 0px;
}

.gallery__info__item span {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.loader.is-hidden {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #353535;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
